
*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}

body{
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}
  
/*  header */
header{
    background: rgb(56, 19, 19);
    color: #FFF;
    padding: 20px 30px;
}

#logo{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
}
  
nav{
    width: 50%;
    display: inline-block;
    text-align: right;
}
  
nav ul{
    list-style: none;
    margin: 0;
}
  
nav ul li {
    display: inline-block;
}
  
nav ul li a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
}
  
nav ul li a:hover{
    background: rgb(75, 79, 134);
}
  /* Main */
  .intro{
    min-height: 800px;
    text-align: center;
    background-image: url('../img/community.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }

  .content{
    color: rgb(138, 14, 14);
    padding-top: 60px;
  }

  .content h1{
    font-size: 100px;
    margin: 0;
  }
  .content p{
    font-size: 50px;
    color : blue;
  }
  .content a{
    display: inline-block;
    color: rgb(180, 33, 33);
    border: 3px solid rgb(94, 44, 44);
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;
  }

  /* footer */
footer{
    background: #222;
    color: #777;
    padding:5px;
    margin-top:20px;
    text-align: center;
}